body {
    background-color:#EDDDD0;
}

.head{
    text-align:center;
    color:#334259;
    font-family: "Montserrat", sans-serif;
    
}
.begin{
    background-color:#A6CAD4;
    text-align:center;
}

.ul1{
    list-style: none;
    display:flex;
    justify-content: center;
}
.li1 {    
    padding:5px;

}

.art{
    display:grid;
    grid-template-columns: 2fr 1fr;
}
footer{
    background-color:#A6CAD4;
    text-align:center;
}
.ulgr{
    display:grid;
}
.ligr{
    grid-template-rows: repeat(7 1fr);
    padding:50px;
    list-style:none;
    border-bottom:#334259 solid 2px;
}
.ligr_bottom {
    grid-template-rows: repeat(7 1fr);
    padding:50px;
    list-style:none;
}