body {
    background-color:#EDDDD0;
}

.head{
    text-align:center;
    color:#334259;
    font-family: "Montserrat", sans-serif;
    
}
.begin{
    background-color:#A6CAD4;
    text-align:center;
}

ul{
    list-style: none;
    display:flex;
    justify-content: center;
}
li {    
    padding:5px;

}

.p1{
    display:grid;
    grid-template-columns: 2fr 1fr;
}
.p2{
    display:grid;
    grid-template-columns: 2fr 1fr;
}
footer{
    background-color:#A6CAD4;
    text-align:center;
}
